.contactFormContainer{
    height: auto;
    padding: 5vw 10vw;
    display: flex;
    background: linear-gradient(to bottom, #F5F5F5, #fff);
    background: -webkit-linear-gradient(#F5F5F5, #fff);
}
.contactText{
    width: 30%;
    margin-right: 10vw;
}

.curve{
    position: relative;
    background: #0A00A5;
}


.footer{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 3vh 8vw;
    margin: 0px
}

.logoContainer{
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    justify-content:flex-start;
    align-items: center;
}

.logoImage {
    width: 100%;
    height: auto;
}

.footerContact{
    grid-column-start: 7;
    grid-column-end: 9;
    margin: 0 5vw;
    width: fit-content;
    white-space: nowrap;
}

.footerLegals{
    grid-column-start: 9;
    grid-column-end: 11;
    margin: 0 5vw;
    width: fit-content;
    white-space: nowrap;
}

.footerMenu{
    color: #fff;
    text-decoration: none;
    font-size: small;
}


.custom-shape {
    position: absolute;
    bottom: 0; 
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape svg {
    position: relative;
    display: block;
    width: calc(118% + 1.3px);
    height: 130px;
}

.custom-shape .shape-fill {
    fill: #0A00A5;
}
